.OfferCard {
  width: '95%';
  border: '1px solid blue';
  margin-bottom: '20px';
}

.Offer {
  display: flex;
  flex-direction: row;
}

.CardWrap {
  display: flex;
  justify-content: space-between;
}

.Image {
  display: flex;
  flex-direction: row;
}

.Details {
  display: flex;
}

.MainWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 30px;
}

.LocationSection {
  display: flex;
  color: #1b75d5;
  align-items: baseline;
  margin-bottom: 6px;
}

.LocationSection span {
  color: #1b75d5;
  padding-left: 6px;
  font-size: 16px;
  font-weight: 700;
}

.HotelDetailSection {
  display: flex;
  font-size: 16px;
  margin-bottom: 6px;
}

.CancelSection {
  text-align: start;
  font-size: 16px;
}

.CancelSection span {
  font-weight: 700;
  color: #3fa23c;
}

.RatingSection {
  display: flex;
  align-items: baseline;
}

.RatingLeft {
  display: flex;
  align-items: baseline;
  padding-right: 8px;
  color: #1b75d5;
}

.RatingText {
  color: #1b75d5;
}

.RatingStars {
  padding-left: 8px;
}

.MoreBtn {
  display: flex;
  font-size: 18px;
  padding-left: 0px;
}

.MoreBtn svg {
  margin-top: 5px;
}

.PriceWrap {
  border-left: 1px solid darkgrey;
  padding-left: 50px;
  font-size: 16px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: inherit;
}

.PriceValue {
  font-weight: bolder;
  font-size: 20px;
}

.PriceText {
  margin-bottom: 0px;
}

.PriceText {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.OfferSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.OfferBtn {
  height: 50px;
  background-color: #f75c60;
  font-size: 20px;
  border-radius: 10px;
  width: 200px;
}
